extend layout


block content
  h2 Page Index
  // remark
  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius eveniet ut, doloremque pariatur ducimus ex architecto cumque voluptatum impedit, in magni, non rem magnam explicabo fugiat dolorum eaque maxime excepturi?